html,body{
    margin: 0;
}
.header{
    background-color: #f55a5a;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
}

.globe{
    width: auto;
    height: 24px;
    color: wheat;
    margin-right: 7px;
}

.header>h1{

    font-size: 0.9rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;


}