html,body{
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.header{
    background-color: #f55a5a;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
}

.globe{
    width: auto;
    height: 24px;
    color: wheat;
    margin-right: 7px;
}

.location-container{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 0;
    
}

.location{
    height: 14px;
    width: auto;
}

.header>h1{
    font-size: 0.9rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.journal-entry{
    display: flex;
    padding-top: 40px;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.text-container>h2{
    font-weight: bold;
}

.date{
    font-weight: bold;
}


.main-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main-image-container{
    width: 125px;
    height: 168px;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 19px;

}